<% if ( status ) { %>
  <% if ( status === 'fileTooLarge' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        <strong class="me-auto ms-2">Erreur</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Le fichier est trop volumineux, il ne doit pas excéder 50 Mo.
      </div>
    </div>
  <% } %>
  <% if ( status === 'fileUploaded' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
      <div class="toast-header">
        <i class="fas fa-check text-success"></i>
        <strong class="ms-2 me-auto text-success">Fichier envoyé !</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Votre fichier a bien été envoyé.
      </div>
    </div>
  <% } %>
  <% if ( status === 'typeNotAllowed' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        <strong class="me-auto ms-2">Erreur</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Ce type de fichier n'est pas pris en charge.
      </div>
    </div>
  <% } %>
  <% if ( status === 'fileDeleted' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        <strong class="me-auto ms-2">Fichier supprimé</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Votre fichier a bien été supprimé.
      </div>
    </div>
  <% } %>
<% } %>
<div class="row mt-4">
  <div class="col-lg-8 row mx-auto">
    <div class="col-lg-6">
      <div class="card border-0 shadow h-100" >
        <div class="card-body">
          <h3>Actions sur le compte</h3>
          <br>
          <form method="POST" action="/profile/deleteAccount">
            <button type="submit" class="btn btn-danger">
              Supprimer mon compte
            </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-0 shadow h-100" >
        <div class="card-body">
          <h3>Ajouter un fichier</h3>
          <small>Les fichiers de plus de 50mo ne sont pas autorisés.</small>
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="input-group">
              <input type="file" class="form-control" name="uploadFile" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              <button class="btn btn-purple" type="submit" id="inputGroupFileAddon04">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mx-auto">
    <div class="row row-cols-2 row-cols-lg-4 g-4 mb-4 m-2">
      <% if (files) { %>
        <% files.resources.forEach(file => { %>
          <div class="col">
            <div class="card h-100">
              <object data="<%=file.secure_url%>" type="image/png">
                <img src="/images/folder.png" class="card-img-top" alt="file image">
              </object>
              <div class="card-body">
                <h5 class="card-title"><%= file.public_id.split('/')[2] %></h5>
                <p class="card-text">Date de création : <%=file.created_at%></p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-6">
                    <form method="POST" action="/profile/delete/<%=file.public_id.split('/')[2]%>" class="text-center">
                      <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                  </div>
                  <div class="col-lg-6">
                    <a href="<%=downloadUrl%>" class="btn btn-purple" target="_blank">
                      <i class="fas fa-download"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>